/* .para{
    background-color: palegreen;
     height: 100px; 
     width:500px;
}
.newclass{
    color: red;
} */
/* #mode{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    background-color: green;
}
.dark{
    color: white;
    background-color: black;
}
.light{
    color: black;
    background-color: whitesmoke;
}
#box{
    height: 80px;
    width: 100px;
    padding-top: 50px;
    background-color: paleturquoise;
    text-align: center;

}
.love{
    font-family:'Franklin Gothic Medium';
    color: red;
} */